# Virtual Environment
job_env/
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Vector Database and Uploaded Resumes
Assets/vector_db/
Assets/resumes/
resume_vector_db/

# Editor Settings
.vscode/
.idea/

# OS Files
Thumbs.db
desktop.ini